@font-face {
    font-family: 'open sans';
    src: url('../media/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../media/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../media/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body.page {
	margin: 0;
	overflow-x: hidden;
}

.header { /*container do cabeçalho*/
	background-color: #ffffff;
	box-shadow: 0 1px 5px #545454;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap; 
}

.header__left-side { /*elementos dispostos a esquerda (logo)*/
	display: inline-block;
}

.header__right-side { /*elementos dispostos a direita (menu)*/
	display: flex;
}

.left-side .left-side__logo a { /*logo da equipe*/
	color: black;
    font-family: 'open sans';
	font-weight: 900;
	font-size: 40px;
	text-decoration: none; 
	padding: 10px 20px;
	margin-left: 30px;
}

.right-side .nav-bar ul { 
	list-style-type: none;
	margin: 0;
	margin-right: 60px;
	padding: 0; /*largura que os itens vao ocupar*/
}

.right-side .nav-bar li { /*alinhamento dos itens do menu de navegação*/
	display: inline; 
}					

.right-side .nav-bar li a { /*itens do menu*/
	color: #545454;
	font-family: 'open sans';
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	padding: 20px;
}

li.nav-bar__login-item { /*item de login*/
	padding: 10px 1px;
	border: 2px solid #0F8E6B;
	background: white;
	border-radius: 10px;
}

.right-side .nav-bar li a:hover { /*mudança de cor dos itens do menu*/
	color: #0F8E6B;
}
